@import url(https://fonts.googleapis.com/css?family=Vidaloka:regular);


*
{
    background-color: #126c3a;
   
}



.header img
{
    width: 100%;
    margin: 0%;
}
.herotxt
{
    position: relative;
}
.herotxt img  
{
    display: inline-block;
    width: 750px;
    margin-left: 0px;
    
    
}

.herotxt h1
{
    color: #A8D287;
    font-size: 150px;
    font-family: 'Vidaloka';
    text-align: right;
    font-weight: 400;
    line-height: 108.5%;
    letter-spacing: -8.25px;
    display:inline-block;
    margin-left: -55px;
   
   
}


.bdytxt h1
{
    color: #A8D287;
    font-family: Vidaloka;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 92.5%; /* 88.8px */
    letter-spacing: -5.28px;
    
}


.bdytxt p
{
    color: #FFF;
    font-family: Vidaloka;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%; /* 26.04px */
    letter-spacing: -1.32px;
    padding-left: 700px;
}

.bdytxt img
{
    padding-left: 25%;
}


.bdytxt2 h1
{
    color: #A8D287;
text-align: center;
font-family: Vidaloka;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: 108.5%; /* 104.16px */
letter-spacing: -7.2px;
}



.bdytxt2.photos img
{
    display: inline-block;
    padding-left: 25%;
}
.photos
{
    padding-left: 15%;
    padding-bottom: 40px;
}

.border img
{
 width: 100%;   
}



